# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Build output
dist/
build/

# TypeScript cache
*.tsbuildinfo
 
# Environment variables
.env

# Mac system files
.DS_Store

# VSCode settings
.vscode/

# packages
packages-lock.json